.navbar
  .navbar-inner
    =link_to nil, :class => "brand" do
      Finda Me
    %ul.nav
      %li
        =link_to "Home", root_path
    .pull-right
      %ul.nav
        %li
          =link_to "Login", login_path
        %li
          =link_to "Sign up", signup_path
